# Exploratory Data Analysis I

### Data in question
We are gracefully blessed with retail sales historical data for 45 Walmart stores in different regions. We are provided with 4 data files. 
1. Stores
    - This file contains information (like type and size) for each of the 45 stores 
2. Features
    - This file contains additional information related to the store, department and regional activity for the given dates
3. Test and Train data sets
    - Pretty self explanatory. We will used the train to fit the model and the test to test it :)

### Preliminary questions we would like to answer:

- What months of the year do we see the most sales?
- What regions showed higher sales during holidays?
- How did different holidays affect sales?
- What are the effects of markdowns on the sales?
- What regions showed to be more "sensitive" to markdowns?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
train = pd.read_csv("train.csv")

In [9]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [10]:
train['Date'].max()

'2012-10-26'

In [11]:
train['Date'].min()

'2010-02-05'